// FONT GOOGLE
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

// VARIABLE CSS
:root {
  // Header Height
  --header-height: 4rem;

  // Colors
  --dark-color: #181818;
  --dark-color-alt: #1e1e1e;
  --white-color: #fff;
  --blue-color: #4452fe;
  --green-color: #02e4c0;

  // Body Font
  --body-font: "Poppins", sans-serif;

  // Font Weight
  --font-light: 300;
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;

  // Margins
  --margin-1: 0.5rem;
  --margin-2: 1rem;
  --margin-3: 1.5rem;
  --margin-4: 2rem;
  --margin-5: 2.5rem;
  --margin-6: 3rem;

  // Z-index
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

// BASE & RESET
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-weight: var(--font-light);
  color: var(--white-color);
  background-color: var(--dark-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// LAYOUT
.l-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);

  // SHADOW HEADER
  &.scroll-header {
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
  }
}

.container {
  max-width: 968px;
  width: calc(100% - 2rem);
  margin-left: var(--margin-2);
  margin-right: var(--margin-2);
}

.grid {
  display: grid;
  gap: 2rem;
}

// SECTION CLASS
.section {
  padding: 4rem 0 2rem;

  &-title,
  &-subtitle {
    text-align: center;
  }

  &-title {
    font-size: 36px;
    font-weight: var(--font-light);
    margin-bottom: var(--margin-2);
  }

  &-subtitle {
    font-size: 14px;
    font-weight: var(--font-light);
    margin-bottom: var(--margin-4);
  }
}

// HEADER SECTION
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      width: 75%;
      height: 100vh;
      top: var(--header-height);
      right: -100%;
      padding: 2rem;
      background-color: rgba($color: #181818, $alpha: 0.4);
      backdrop-filter: blur(10px);
      transition: 0.3s;
    }
  }

  &__item {
    margin-bottom: var(--margin-3);
  }

  &__link {
    color: var(--white-color);
  }

  &__toggle {
    font-size: 28px;
    cursor: pointer;
  }

  // SHOW HEADER MENU
  .show-menu {
    right: 0;
  }
}

// GLOBAL BUTTON CLASS
.button-outline {
  display: flex;
  justify-content: center;
  padding: 13px 43px;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  margin: var(--margin-1) 0;
}

.button-fill {
  display: flex;
  justify-content: center;
  padding: 13px 43px;
  color: var(--white-color);
  background-color: var(--blue-color);
  margin: var(--margin-1) 0;
}

// GLOBAL BREAK CLASS
.break {
  display: none;
}

// HOME SECTION
.home {
  &__container {
    row-gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    font-size: 42px;
    font-weight: var(--font-light);
    margin-bottom: var(--margin-2);
  }

  &__text {
    margin-bottom: var(--margin-5);
  }

  &__button {
    display: inline-flex !important;
    flex-direction: column;
  }

  &__img {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
      width: 900px;
    }

    // OVERLAY IMAGE
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 450px;
      bottom: 0;
      background: linear-gradient(
        to top,
        rgba(14, 14, 14, 1),
        rgba(30, 30, 30, 0)
      );
    }
  }
}

// FEATURES SECTION
.features {
  &__conteiner {
    row-gap: 3rem;
  }

  &__box {
    padding: 2rem 3rem;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-2);
  }

  &__icon {
    font-size: 32px;
    color: var(--green-color);
    margin-right: var(--margin-1);
  }

  &__title {
    font-weight: var(--font-light);
    font-size: 22px;
  }

  &__text {
    font-size: 14px;
  }

  &__img {
    width: 100%;
    justify-self: center;
  }
}

// CONTENTS SECTION
.contents {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }

  &__content {
    padding: 3rem 2rem;
    background-color: var(--white-color);
    border-radius: 1rem;
  }

  &__data {
    text-align: center;
    color: var(--dark-color);
  }

  &__title {
    font-size: 22px;
    font-weight: var(--font-semibold);
    margin-bottom: var(--margin-4);
  }

  &__text,
  &__button {
    margin-bottom: 2rem;
  }

  &__button {
    display: inline-flex !important;
  }

  &__img {
    width: 100%;
  }
}

// GALLERY SECTION
.gallery {
  text-align: center;

  &__conteiner {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  &__img {
    img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }
  }

  &__button {
    display: inline-flex !important;
    margin-top: var(--margin-4);
  }
}

// PARTNERS SECTION
.partners {
  text-align: center;

  &__img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 2rem;

    img {
      width: 60px;
      justify-self: center;
      align-self: center;
    }
  }

  &__button {
    display: inline-flex !important;
  }
}

// TESTIMONIAL SECTION
.testimonial {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }

  &__content {
    padding: 2rem;
    border: 1px solid #565656;
    border-radius: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 60px;
    margin-right: var(--margin-3);
  }

  &__data {
    font-size: 14px;
  }

  &__text {
    font-size: 14px;
  }

  &__name,
  &__profession {
    font-weight: var(--font-medium);
  }
}

// OPENTYPE SECTION
.opentype {
  background-color: var(--dark-color-alt);
  text-align: center;

  &__container {
    row-gap: 4rem;
  }

  &__title {
    font-size: 32px;
  }

  &__button {
    display: inline-flex !important;
  }

  &__img {
    img {
      width: 100%;
    }
  }
}

// FOOTER SECTION
.footer {
  background-color: var(--dark-color-alt);
  color: var(--white-color);

  &__data {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  &__title {
    font-size: 18px;
    font-weight: var(--font-medium);
    margin-bottom: var(--margin-4);
  }

  &__list {
    display: inline-flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: var(--margin-2);
  }

  &__link {
    color: var(--white-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__copy {
    text-align: center;
    color: #565656;
  }
}

// MEDIA QUERIES
@media screen and (min-width: 576px) {
  // GLOBAL BREAK CLASS
  .break {
    display: block;
  }

  // GLOBAL BUTTON CLASS
  .button-outline,
  .button-fill {
    margin: 0 var(--margin-2);
    font-size: 18px;
  }

  // HOME SECTON
  .home {
    &__title {
      font-size: 56px;
    }

    &__text {
      font-size: 18px;
    }

    &__button {
      flex-direction: row;
    }

    &__img {
      padding-bottom: 4rem;

      img {
        width: 1200px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  // SECTION CLASS
  .section {
    padding-top: 6rem;

    &-title {
      font-size: 48px;
    }

    &-subtitle {
      font-size: 18px;
    }
  }

  // HEADER SECTION
  .nav {
    position: relative;
    height: calc(var(--header-height) + 2rem);

    &__menu {
      display: flex;
      align-items: center;
    }

    &__list {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      display: flex;
    }

    &__item {
      margin: 0 var(--margin-2);
    }

    &__toggle {
      display: none;
    }
  }

  // HOME SECTION
  .home {
    &__img {
      img {
        width: 1400px;
      }
    }
  }

  // FEATURES SECTION
  .features {
    &__conteiner {
      grid-template-columns: 2fr 1fr;
    }
  }

  // GALLERY SECTION
  .gallery {
    &__button {
      margin-top: 2rem;
    }
  }

  // OPENTYPE SECTION
  .opentype {
    text-align: initial;
    background: transparent;

    &__container {
      position: relative;
      grid-template-columns: 2fr 1fr;
      background-color: var(--dark-color-alt);
      border-radius: 2rem;
      padding: 3rem;
      overflow: hidden;
    }

    &__title {
      font-size: 36px !important;
      text-align: initial;
    }

    &__img {
      img {
        position: absolute;
        right: -200px;
        width: 500px;
      }
    }
  }

  // FOOTER SECTION
  .footer {
    background-color: var(--dark-color);

    &__content {
      justify-self: center;
    }
  }
}

@media screen and (min-width: 960px) {
  .container {
    margin: 0 auto;
  }

  // OPENTYPE SECTION
  .opentype {
    &__img {
      img {
        right: -100px;
      }
    }
  }
}
